/* using variables  */
:root {
  --bg: #858bea;
  --text: #dbd8e7;
  --calBg: #242135;
}

/* hidding input number up-down arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: var(--bg);
}

header {
  text-align: center;
  color: var(--calBg);
}

input {
  background-color: #303555;
  border: none;
  border-radius: 10px;
  width: 60vw;
  height: 35px;
  color: var(--text);
  font-size: large;
  padding-left: 30px;
  margin-top: 10px;
}

label {
  font-size: large;
}

.calculator {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--bg);
  background: var(--calBg);
  flex-direction: column;
  align-items: center;
}

article div input {
  display: block;
}

.input-field {
  margin-top: 15px;
}

.icon-styling {
  position: absolute;
  font-size: 21px;
  margin-left: 13px;
  margin-top: 7px;
}

.icon-styling:nth-child(1) {
  font-size: 18px;
  margin-left: 8px;
}

.bottom_calculator {
  display: flex;
  width: 20%;
  /* margin-left: 43%; */
}

/* styling for the person's div */

#person_div {
  display: flex;
  margin-left: -100%;
  margin-top: 30px;
}

#person_count {
  color: var(--text);
}

#person_div span:nth-child(odd) {
  display: flex;
  cursor: pointer;
  font-size: 22px;
  margin-top: -3px;
  font-weight: 900;
  background-color: #858bea;
  color: #242135;
  padding: -15px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

#person_div span:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

#total_bill_styling {
  margin-top: 10px;
  margin-left: 244%;
}

/* responsiveness */
@media screen and (max-width: 1000px) {
  #total_bill_styling {
    margin-top: 10px;
    margin-left: 200%;
  }
}

@media screen and (max-width: 600px) {
  #total_bill_styling {
    margin-top: 10px;
    margin-left: 180%;
  }
}

@media screen and (max-width: 450px) {
  #total_bill_styling {
    margin-top: 10px;
    margin-left: 160%;
  }
}

@media screen and (max-width: 350px) {
  #total_bill_styling {
    margin-top: 10px;
    margin-left: 140%;
  }
}
